# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# PyInstaller
*.spec
dist/
build/

# MacOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Logs and dumps
*.log
*.out
*.
*modilang.egg-info/